DATABASE_URL="mysql://root:@localhost:3306/azin_forex"

JWT_SECRET="change-this-to-a-random-64-char-string"
JWT_REFRESH_SECRET="change-this-to-another-random-64-char-string"
JWT_EXPIRATION="15m"
JWT_REFRESH_EXPIRATION="7d"

METAAPI_TOKEN=""
METAAPI_ACCOUNT_ID=""

PORT=3000
NODE_ENV=development
OTP_DEBUG=true
